@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-color: #111111;
}

.flexBox {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: 'space-between center';
}

.container {
  text-align: start;
  padding: 0 30px;
}

.h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: -35px;
}

.h2 {
  font-size: 25px;
  font-weight: 700;
}

.h3 {
  font-size: 18px;
  font-weight: 700;
}

.hr {
  height: 5px;
  border-radius: 100px;
  width: 40px;
  margin-top: 15px;
  border: none;
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  color: #383838;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  color: hsl(0, 0%, 84%);
}


li {
  list-style: none;
}

.divider {
  width: 85%;
  margin: 40px 0;
  border: 1px solid #383838;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text !important;
}



.boxBorder {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(to bottom right, #3e3e3f, #1e1e1f);
  padding: 1px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

.innerBox {
  padding: 15px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202022;
  border-radius: 15px;
  font-size: 18px;
  color: hsl(45, 100%, 72%);
}





/* Resume Style */

/* Education and Experience */
.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 14px;
  margin-left: 45px;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: hsl(45, 54%, 58%);
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}

.timeline-text {
  color: hsl(0, 0%, 84%);
  font-weight: 300;
  line-height: 1.6;
}


.timeline-list {
  margin-left: 65px;
}

.timeline-item:not(:last-child)::before {
  left: -40px;
}

.timeline-item::after {
  height: 8px;
  width: 8px;
  left: -43px;
}

.timeline-text {
  max-width: 700px;
}

/* Education and Experience END */


/* Skills Start */

.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
}


.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: hsl(0, 0%, 84%);
  ;
  font-size: 13px;
  font-weight: 300;
}

.skill-progress-bg {
  background: hsl(0, 0%, 22%);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  height: 100%;
  border-radius: inherit;
}

.skills-item:not(:last-child) {
  margin-bottom: 25px;
}

/* Skills End */
